Write an LC which creates a list with the first 10 natural numbers

In [ ]:
x =
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Write an LC which creates a list with the first 5 even natural numbers

In [ ]:
x =
x

[2, 4, 6, 8, 10]

Write an LC which has the first letter of the words in listOfWords

In [ ]:
listOfWords = ["this","is","the","list","of","words"]
letters =
print (letters)

Write an LC which has the first letter of the words which are greater than 2 in listOfWords

In [ ]:
listOfWords = ["this","is","the","list","of","words"]
letters =
print (letters)

In [ ]:
dnaList = ['TAGC', 'ACGTATGC', 'ATG', 'ACGGCTAG']
ats = []
for dna in dnaList:
  ats.append((dna.count("A")+dna.count('T'))/len(dna))
ats

[0.5, 0.5, 0.6666666666666666, 0.375]

Write an LC which contains the AT content of the dnas in dnaList

In [ ]:
dnaList = ['TAGC', 'ACGTATGC', 'ATG', 'ACGGCTAG']
ats =
ats

[0.5, 0.5, 0.6666666666666666, 0.375]

In [ ]:
dnaList = ['TAGC', 'ACGTATGC', 'ATG', 'ACGGCTAG']
ats = []
for dna in dnaList:
  if dna.startswith('A'):
    ats.append((dna.count("A")+dna.count('T'))/len(dna))
ats

Write an LC which contains the AT content of the dnas which startwith("A") in dnaList.

In [ ]:
dnaList = ['TAGC', 'ACGTATGC', 'ATG', 'ACGGCTAG']
ats =
ats

Write an LC which contains the len of the dna for those dna which AT content an at content < 0.6
(for the if condition use a function of that returns a boolean value for the following condition: AT content an at content < 0.6)

In [ ]:
dna_list = ['TAGC', 'ACGTATGC', 'ATG', 'ACGGCTAG']

def is_at_poor(dna):
    at = (dna.count('A') + dna.count('T')) / len(dna)
    print(at)
    return at < 0.6

# get the length of DNA that has less than 0.6 AT content
at_poor_dna_lengths =
at_poor_dna_lengths

0.5
0.5
0.6666666666666666
0.375

[4, 8, 8]

Write an LC which uses the at_content as an function in the expression for the LC

In [ ]:
dna_list = ['TAGC', 'ACGTATGC', 'ATG', 'ACGGCTAG']

#this function takes in a string
def at_content (dna):
    at = (dna.count('A') + dna.count('T')) / len(dna)
    return at

content_at = []
for dna in dna_list:
    content_at.append(at_content(dna))
content_at

[0.5, 0.5, 0.6666666666666666, 0.375]

In [ ]:
dna_list = ['TAGC', 'ACGTATGC', 'ATG', 'ACGGCTAG']

# write the func


content_at = # LC
content_at

[0.5, 0.5, 0.6666666666666666, 0.375]

In [ ]:
list_a = [1, 2, 3, 4]
new_list = []
for num in list_a:
  for number in list_a:
    print (str(num) + " " + str(number))
    new_list.append(num + number)
new_list

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

[2, 3, 4, 5, 3, 4, 5, 6, 4, 5, 6, 7, 5, 6, 7, 8]

Write an LC to implement the above nested for loop.

In [ ]:
list_a = [1, 2, 3, 4]
new_list =
new_list

[2, 3, 4, 5, 3, 4, 5, 6, 4, 5, 6, 7, 5, 6, 7, 8]

In [ ]:
listOfWords = ["this","is","the","list","of","words"]
new_list = []
for words in listOfWords:
    for letters in words:
        if letters != "t":
            new_list.append(letters)
new_list

['h',
 'i',
 's',
 'i',
 's',
 'h',
 'e',
 'l',
 'i',
 's',
 'o',
 'f',
 'w',
 'o',
 'r',
 'd',
 's']

Write an LC which contains the letters of the words present in listOfWords excluding the letter t.

In [ ]:
listOfWords = ["this","is","the","list","of","words"]
new_list =
new_list

Write a LC which contains the words greater than 4. Each word occurence in the final list is equal to the length of the word

In [ ]:
listOfWords = ["this","is","the","list","of","words", "words"]
new_list = []

for word in listOfWords:
    for letter in word:
        if len(word)>4:
            new_list.append(word)

new_list

['words',
 'words',
 'words',
 'words',
 'words',
 'words',
 'words',
 'words',
 'words',
 'words']

In [ ]:
listOfWords = ["this","is","the","list","of","words"]

new_list =
new_list

['words', 'words', 'words', 'words', 'words']

Write a DC which for 5 keys where the coressponding values are key +1 and keys are greater than 5.

In [ ]:
d =
d

{6: 7, 7: 8, 8: 9, 9: 10}

Write a DC which for the keys are the dna in dna_list and where the coressponding values are the AT content of the dna sequences.

In [ ]:
dna_list = ['TAGC', 'ACGTATGC', 'ATG', 'ACGGCTAG']

# func

d = # DC
d

{'TAGC': 0.5, 'ACGTATGC': 0.5, 'ATG': 0.6666666666666666, 'ACGGCTAG': 0.375}

Write a DC which for the keys are the words in listOfWords and where the coressponding values are the len of the words.

In [ ]:
listOfWords = ["this","is","the","list","of","words"]

d = # DC
d

{'this': 4, 'is': 2, 'the': 3, 'list': 4, 'of': 2, 'words': 5}

Create a set containing first 500 even numbers

In [ ]:
even_integer = # DC
even_integer

{0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998}

In [ ]:
dna_list = ['TAGC', 'ACGTATGC', 'ATG', 'ACGGCTAG']

def at_content (dna):
  at = (dna.count('A') + dna.count('T')) / len(dna)
  return at

new_list = [at_content(x) for x in dna_list]
print(new_list)
new_dictionary = {x:at_content(x) for x in dna_list}
print(new_dictionary)
new_set = {at_content(x) for x in dna_list}
print(new_set)

[0.5, 0.5, 0.6666666666666666, 0.375]
{'TAGC': 0.5, 'ACGTATGC': 0.5, 'ATG': 0.6666666666666666, 'ACGGCTAG': 0.375}
{0.5, 0.6666666666666666, 0.375}